# Pylint disable
snippet pl
	# pylint: disable=${1}
snippet todo
	# TODO(iannucci): ${1}
snippet main
	def main():
	  ${1}


	if __name__ == '__main__':
	  main()
snippet mainr
	import sys

	def main(argv):
	  ${1}
	  return 0


	if __name__ == '__main__':
	  sys.exit(main(sys.argv))
